Package: voxl-camera-server
Version: 1.1.0
Section: base
Priority: optional
Architecture: arm64
Depends: libmodal-pipe(>=2.3.0),libmodal-json,libmodal-exposure(>=0.0.4), libvoxl-cutils
Conflicts: qrb5165-camera-server, apq8096-camera-server, voxl-utils(<=1.0.2)
Provides: qrb5165-camera-server(=1.0.0), apq8096-camera-server(=1.0.0)
Replaces: qrb5165-camera-server, apq8096-camera-server
Maintainer: alex.gardner@modalai.com
Description: publishes camera frames over named pipe interface
