Package: qrb5165-camera-server
Version: 0.0.5
Section: base
Priority: optional
Architecture: arm64
Depends: libmodal-pipe(>=2.0.5),libmodal-json,libmodal-exposure(>=0.0.4), libvoxl-cutils
Conflicts: voxl-camera-server
Provides: voxl-camera-server
Maintainer: alex.gardner@modalai.com
Description: publishes camera frames over named pipe interface
