Package: voxl-camera-server
Version: 0.0.1
Section: base
Priority: optional
Architecture: arm64
Depends: libmodal-pipe(>=2.0.5),libmodal-json,libmodal-exposure(>=0.0.4)
Maintainer: modalai.com
Description: publishes camera frames over named pipe interface
